html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

header {
  width:100%;
  height: 70px;
  background-color: #333333;
  display: flex;
  justify-content: flex-start;
  font-weight: lighter;

}

.headerA {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  margin: 25px 20px 25px 20px;

}

.headerG {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  margin: 25px 20px 25px 20px;

}

footer {
  background-color: #333333;
  padding: 10px;
  margin: 20px 10px 0 10px;
  width: 100%;
  height: 50px;
  clear: both;
}

.leftColumn {
  height: 1100px;
  width: 46%;
  margin: 70px 10px 20px 30px;
  float: left;
}

.rightColumn{
  height: 1100px;
  width: 46%;
  margin: 50px 10px 20px 30px;
  float: right;
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
  color: #474747
}

p{
  font-family: sans-serif;
  line-height: 25px;
}

.pic {
  margin: 50px 10px 10px 10px;

}
